/**
 * More padding to isolate the elements from the preview page
 */

.styleguide-item {
  background-color: lightgrey;
  border: 0.5em solid lightgrey;
  margin-bottom: 0.5em;
}
/* clearfix */
.styleguide-item:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.styleguide-item:hover {
  background-color: white;
  border: 0.5em solid white;
  margin-bottom: 0.5em;
}

.styleguide {
  background-color: white;
  padding: 1em;
}
.styleguide-header {
  font: 16px bold helvetica, arial, sans-serif;
  margin: 0.2em 0 1em 0;
  padding: 0;
  text-transform: uppercase;
}
.styleguide-inner {
  display: inline-block;
}
.styleguide-item:hover div.styleguide-inner {
  outline: 2px dashed lightblue;
}


/* ****************** */
/* When placing screenshot and context side-by-side */

.styleguide-screenshot {
  width: 60%;
  float: left;
  margin-right: 5%;
}
.styleguide-screenshot img {
  max-width: 100%;
}
.styleguide-context {
  width: 30%;
  float: left;
}
.styleguide-context img {
  max-width: 100%;
}
